{% extends 'base.html' %}
{% load static %}
{% block content_header %} Bewerberportal {% endblock content_header %}

{% block main_content %}
    {% for b in bewerbung %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><b>Bewerbungs Status</b></h3>
                <div class="card-tools">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->

            {% if b.status == "P" %}
                <div class="card-body" style="background-color:lightblue;">
                    <b>In Bearbeitung</b>
                </div>
            {% endif %}
            {% if b.status == "A" %}
                <div class="card-body" style="background-color:lightgreen;">
                    <b>Akzeptiert</b>
                </div>
            {% endif %}
            {% if b.status == "D" %}
                <div class="card-body" style="background-color:lightcoral;">
                    <b>Abgelehnt</b>
                </div>
            {% endif %}

            <div class="card-footer">
                <b>Eingangsdatum:</b> {{ b.date_of_entry }}

            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    {% empty %}
    {% endfor %}


    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><b>Account Informationen</b></h3>

            <div class="card-tools">
                <button onclick="javascript:location.href='{% url 'bewerber_update' user.id %}'" type="button"
                        class="btn btn-primary float-right" style="margin-right: 4px;"><i class="fas fa-pen"></i>
                </button>
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            {% for info in account_information %}

                <p><b>Vorname:</b> {{ info.first_name }}</p>
                <p><b>Nachname:</b> {{ info.last_name }}</p>
                <p><b>Straße:</b> {{ info.street }}</p>
                <p><b>PLZ:</b> {{ info.post_code }}</p>
                <p><b>Stadt:</b> {{ info.city }}</p>
                <p><b>Telefon:</b> {{ info.phone }}</p>
            {% endfor %}
        </div>
        <!-- /.card-body -->
        <!-- /.card-footer -->
        <div class="card-footer">


        </div>
    </div>
    <!-- /.card -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><b>Universitätsabschlüsse</b></h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 10px">Universität</th>
                            <th>Studiengang</th>
                            <th>Abschluss</th>
                            <th>Spezialisierung</th>
                            <th>Datum des Abschlusses</th>
                            <th>Startdatum</th>
                            <th>Anzahl Semester</th>
                            <th>NC</th>
                            <th></th>


                        </tr>
                        </thead>
                        <tbody>

                        {% for uni_degree in universitydegrees %}
                            <tr>
                                <td>{{ uni_degree.university_name }}</td>
                                <td>{{ uni_degree.name_of_degree }}</td>
                                <td>{{ uni_degree.type_of_degree }}</td>
                                <td>{{ uni_degree.specialisation }}</td>
                                <td>{{ uni_degree.graduation_date }}</td>
                                <td>{{ uni_degree.starting_date }}</td>
                                <td>{{ uni_degree.no_of_semesters }}</td>
                                <td>{{ uni_degree.avg_score }}</td>


                                <td>

                                    <button onclick="javascript:location.href='{% url 'update_uni_degree' uni_degree.id %}'"
                                            type="button" class="btn btn-primary float-right"><i class="fas fa-pen"></i>
                                    </button>


                                    <button onclick="javascript:location.href='{% url 'delete_uni_degree' uni_degree.id %}'"
                                            type="button" class="btn btn-danger float-right" style="margin-right: 5px;">
                                        <i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="card-footer" style="border-top: 1px solid #dee2e6;">


                    <button onclick="javascript:location.href='{% url 'create_uni_degree' %}'" type="button"
                            class="btn btn-success float-right" style="margin-right: 4px;"><i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- /.card -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><b>Schulabschlüsse</b></h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 10px">Schule</th>
                            <th>Stadt</th>
                            <th>Abschluss</th>
                            <th>Datum des Abschlusses</th>
                            <th>Startdatum</th>
                            <th>NC</th>
                            <th></th>


                        </tr>
                        </thead>
                        <tbody>

                        {% for school_degree in schooldegrees %}
                            <tr>
                                <td>{{ school_degree.school_name }}</td>
                                <td>{{ school_degree.city }}</td>
                                <td>{{ school_degree.type_of_degree }}</td>
                                <td>{{ school_degree.graduation_date }}</td>
                                <td>{{ school_degree.starting_date }}</td>
                                <td>{{ school_degree.avg_score }}</td>


                                <td>

                                    <button onclick="javascript:location.href='{% url 'update_school_degree' school_degree.id %}'"
                                            type="button" class="btn btn-primary float-right"><i class="fas fa-pen"></i>
                                    </button>


                                    <button onclick="javascript:location.href='{% url 'delete_school_degree' school_degree.id %}'"
                                            type="button" class="btn btn-danger float-right" style="margin-right: 5px;">
                                        <i class="fas fa-trash-alt"></i></button>
                                </td>


                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>


                <div class="card-footer" style="border-top: 1px solid #dee2e6;">
                    <button onclick="javascript:location.href='{% url 'create_school_degree' %}'" type="button"
                            class="btn btn-success float-right" style="margin-right: 4px;"><i class="fas fa-plus"></i>
                    </button>
                </div>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><b>Arbeitserfahrungen</b></h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 10px">Firma</th>
                            <th>Startdatum</th>
                            <th>Enddatum</th>
                            <th>Art der Beschäftigung</th>
                            <th>Branche</th>
                            <th>Ansprechpartner</th>
                            <th>Spezialisierung</th>
                            <th>Köln</th>
                            <th>Workload</th>
                            <th></th>


                        </tr>
                        </thead>
                        <tbody>

                        {% for work_experience in workexperience %}
                            <tr>
                                <td>{{ work_experience.company_name }}</td>
                                <td>{{ work_experience.starting_date }}</td>
                                <td>{{ work_experience.end_date }}</td>
                                <td>{{ work_experience.employment_relationship }}</td>
                                <td>{{ work_experience.industry }}</td>
                                <td>{{ work_experience.supervisor }}</td>
                                <td>{{ work_experience.specialisation }}</td>
                                <td>{{ work_experience.company_address }}</td>
                                <td>{{ work_experience.avg_weekly_working_time }}</td>


                                <td>

                                    <button onclick="javascript:location.href='{% url 'update_work_exp' work_experience.id %}'"
                                            type="button" class="btn btn-primary float-right"><i class="fas fa-pen"></i>
                                    </button>


                                    <button onclick="javascript:location.href='{% url 'delete_work_exp' work_experience.id %}'"
                                            type="button" class="btn btn-danger float-right" style="margin-right: 5px;">
                                        <i class="fas fa-trash-alt"></i></button>
                                </td>


                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>


                <div class="card-footer" style="border-top: 1px solid #dee2e6;">


                    <button onclick="javascript:location.href='{% url 'create_work_exp' %}'" type="button"
                            class="btn btn-success float-right" style="margin-right: 4px;"><i class="fas fa-plus"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><b>Empfehlungsschreiben</b></h3>

                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 10px">Firma</th>
                            <th>Vorname</th>
                            <th>Nachname</th>
                            <th>Rolle</th>
                            <th>E-Mail</th>
                            <th>Telefon</th>
                            <th>Erreichbar ab</th>
                            <th>Erreichbar bis</th>
                            <th></th>


                        </tr>
                        </thead>
                        <tbody>

                        {% for recommendation in recommendations %}
                            <tr>
                                <td>{{ recommendation.company_name }}</td>
                                <td>{{ recommendation.first_name }}</td>
                                <td>{{ recommendation.last_name }}</td>
                                <td>{{ recommendation.job_position }}</td>
                                <td>{{ recommendation.email }}</td>
                                <td>{{ recommendation.phone }}</td>
                                <td>{{ recommendation.available_from }}</td>
                                <td>{{ recommendation.available_until }}</td>

                                <td>
                                    <button onclick="javascript:location.href='{% url 'detail_recommendation' recommendation.id %}'"
                                            type="button"
                                            class="btn btn-primary float-right" style="margin-right: 4px;"><i
                                            class="fas fa-eye"></i>
                                    </button>

                                </td>


                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="card-footer" style="border-top: 1px solid #dee2e6;">


                    {% with request.build_absolute_uri|add:recommendation_link as recommendation_url %}
                        <p><b>Sende den folgenden Link an Personen,welche ein Empfehlungsschreiben für dich erstellen
                            sollen. Das Empfehlungsschreiben wird deiner Bewerbung automatisch angehangen.</b></p>
                        <a><b>Link: </b></a> <a href={{ recommendation_url }}>{{ recommendation_url }} </a>
                    {% endwith %}
                    </button>
                </div>

            </div>
        </div>
    </div>


    {% for b in bewerbung %}

        <button onclick="javascript:location.href='{% url 'delete_bewerbung' b.id %}'" type="button"
                class="btn btn-danger float-none" style="margin-right: 4px;"><i class="fas fa-trash-alt"></i> Bewerbung
            löschen
        </button>

        <button onclick="javascript:location.href='{% url 'update_bewerbung' b.id %}'" type="button"
                class="btn btn-primary float-none" style="margin-right: 4px;"><i class="fas fa-pen"></i> Bewerbung
            bearbeiten
        </button>

    {% empty %}
        <button onclick="javascript:location.href='{% url 'create_bewerbung' %}'" type="button"
                class="btn btn-success float-none" style="margin-right: 4px;"><i class="fas fa-plus"></i> Bewerbung
            erstellen
        </button>
    {% endfor %}

{% endblock %}