{% extends 'base.html' %}
{% load static %}
{% block content_header %} Bewerberportal {% endblock content_header %}
{% block main_content %}


    <div class="row">
        <div class="col-12">

            <form method="post">
                {% csrf_token %}


                <div class="card custom-card">
                    <div class="col-12">
                        <h4 class="ilias-header">
                            Bewerbung
                        </h4>
                    </div>
                    <!-- /.card-header -->


                    <div class="card-body p-0 custom-body-padding">

                        <!-- info row -->
                        <div class="row invoice-info" style="margin-top: 10px; margin-bottom: 10px;">


                            <div class="col-sm-4 invoice-col">
                                <div style="margin-bottom: 16px;"><strong>Hochschulabschlüsse: </strong></div>

                                {% for checkbox in form.uni_degrees %}
    <label style="font-weight: 300 !important; ">
    {{ checkbox.tag }} &nbsp; {{ checkbox.choice_label }}
    </label>
{% endfor %}
                            </div>


                            <div class="col-sm-4 invoice-col">
                                 <div style="margin-bottom: 16px;"><strong>Schulabschlüsse: </strong></div>
                                {% for checkbox in form.school_degrees %}
    <label style="font-weight: 300 !important; ">
    {{ checkbox.tag }} &nbsp; {{ checkbox.choice_label }}
    </label>
{% endfor %}
                            </div>


                            <div class="col-sm-4 invoice-col">
                                 <div style="margin-bottom: 16px;"><strong>Praxiserfahrung: </strong></div>
                              {% for checkbox in form.work_experiences %}
    <label style="font-weight: 300 !important; ">
    {{ checkbox.tag }} &nbsp; {{ checkbox.choice_label }}
    </label>
{% endfor %}
                            </div>


                            <!-- /.col -->
                        </div>
                        <!-- /.row -->


                        <button type="button"

                                onclick="javascript:location.href='{% url 'applicant_index' %}'"

                                class="btn btn-sm btn-primary custom-btn-primary float-right"

                        >
                            <i class="fas fa-times"></i>
                        </button>

                        <button type="submit"

                                onclick="javascript:location.href='{% url 'applicant_index' %}'"

                                class="btn btn-sm btn-primary custom-btn-primary float-right"
                                style="margin-right: 5px; "
                        >
                            <i class="fas fa-check"></i>
                        </button>




                    </div>


                </div>

            </form>
        </div>
    </div>






{% endblock %}