{% extends 'base.html' %}
{% load static %}
{% block content_header %} Bewerberportal {% endblock content_header %}
{% block main_content %}
    <form method="post">





    <div class="row">
        <div class="col-12">
            <div class="card custom-card">
                <div class="col-12">
                        <h4 class="ilias-header">
                            Hochschulabschluss
                        </h4>
                    </div>
                <!-- /.card-header -->
                <div class="card-body p-0 custom-body-padding">

                   <form method="post">
        {% csrf_token %}


        {{ form.as_p }}


        <button type="button"

                onclick="javascript:location.href='{% url 'applicant_index' %}'"

                      class="btn btn-sm btn-primary custom-btn-primary float-right"

                     >
                            <i class="fas fa-times"></i>
                        </button>


                        <button
                                type="submit"

                                 style="margin-right: 5px;"

                        class="btn btn-sm btn-primary custom-btn-primary float-right"


                        ><i class="fas fa-check"></i>

                        </button>
                       </form>



                </div>


            </div>
        </div>
    </div>
     </form>




{% endblock %}